/*Remove arrows inside number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*Remove arrows inside number input in Firefox*/
input[type='number'] {
  -moz-appearance:textfield;
}


.timer-plus,
.alarm-plus {
  position: fixed;
  margin-top: 250px;
  margin-left: 25px;

  border: none;
  outline: none;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #3583B6;
  background-color: transparent;
  padding: 10px 10px;

  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}


.alarm-plus {
  margin-top: 430px;
}


.timer-plus:before,
.alarm-plus:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}


.alarm-plus:before {
  border-color: #82205f;
}


.timer-plus:hover:before,
.alarm-plus:hover:before {
  transform: translateY(0);
  border-width: 4px;
}


.timer-icon-button,
.alarm-icon-button {
  padding-top: 15px;
}


.clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.clock-div {
  margin: 80px 0px 70px;
}


.clock-title {
  display: flex;
  justify-content: center;
}


.title-input {
  outline: 0;
  width: 40%;
  text-align: center;
  border-width: 0 0 2px;
  border-color: #3583B6;
  font-family: 'Acme', sans-serif;
  color: #3583B6;
  font-size: 40px;
  font-weight: 700;
}


.title-input::placeholder {
  color: #acc5d6;
}


.youtube-audio {
  display: none;
}


.clock-audio {
  display: flex;
  justify-content: center;
}


.audio-input,
.short-audio-title {
  outline: 0;
  width: 100%;
  text-align: center;
  border: none;
  border-color: #3583B6;
  font-family: 'Acme', sans-serif;
  color: #3583B6;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}


.audio-input::placeholder {
  color: #acc5d6;
}


.alarm-clock-input {
  width: 600px;
  height: 403px;
}


.alarm-digits {
  margin-top: 202px;
  margin-left: 144px;
}


.timer-clock-input {
  margin-top: -400px;
  margin-left: 144px;
  font-size: 100px;
}


.timer-minutes-input,
.timer-seconds-input,
.alarm-hours-input,
.alarm-minutes-input {
  display: inline-block;
  border: none;
  width: 130px;
  height: 75px;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 112px;
  color: #3583B6;
  background: transparent;
  margin-top: 53px;
}


.alarm-hours-input,
.alarm-minutes-input {
  color: #82205f;
}


.timer-minutes-input::placeholder,
.timer-seconds-input::placeholder {
  color: #3583B6;
}


.alarm-hours-input::placeholder,
.alarm-minutes-input::placeholder {
  color: #82205f;
}


.minutes-letter,
.seconds-letter,
.alarm-hours-letter,
.alarm-minutes-letter {
  font-size: 45px;
  color: #3583B6;
  margin-left: -4px;
}

.alarm-hours-letter,
.alarm-minutes-letter,
.alarm-hours,
.alarm-minutes {
  color: #82205f;
}


.timer-clock-buttons {
  display: flex;
  margin-top: 196px;
  margin-left: 247px;
}


.alarm-clock-buttons {
  display: flex;
  margin-top: -52px;
  margin-left: 247px;
}


.start-button {
  margin-left: -40px;
}


.start-button,
.pause-button,
.reset-button,
.delete-button  {
  outline: none;
  border: none;
  background-color: transparent;
}


.start-button:hover,
.pause-button:hover,
.reset-button:hover,
.delete-button:hover {
  opacity: 0.8;
}


.base-circle {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}


.progress-circle {
  fill: none;
  stroke: #3583B6;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}


#pointer-circle {
  fill: #FFF;
  stroke: #3583B6;
  stroke-width: 2px;
}


.alarm-seconds-pointer {
  stroke:#a5868e;
  stroke-width:1.6;
  stroke-linecap:round;
}


.alarm-minutes-pointer,
.alarm-hours-pointer {
  stroke:#82205f;
  stroke-width:6px;
  stroke-linecap:round;
}


.endtime-alarm-hours-pointer {
  stroke:#f1f1f1;
  stroke-width:6px;
  stroke-linecap:round;
}


.alarm-inner-circle {
  fill:#e8e8e8;
  stroke:#a5868e;
  stroke-width:0.5836;
}


.alarm-outer-circle {
  fill:none;
  stroke:#82205f;
  stroke-width:3.99998;
}


.hidden {
  display: none;
  width: 0px;
}


@media only screen and (max-width: 600px) {
  .timer-plus {
    margin:0 auto;
    display:inline-block;
    width:100%;
    position: relative;
    background: #3583B6;
    color: white;
  }

  .timer-plus::before{
    border-color: white;
  }

  .timer-plus-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .svg-clock {
    width:360px;
    height:360px;
  }

  .clock {
    margin-top: -255px;
    margin-left: 92px;
    font-size: 50px;
  }

  .timer-minutes-input,
  .timer-seconds-input {
    font-size: 50px;
    width: 80px;
  }

  .timer-clock-buttons {
    margin-top:16px;
    margin-left: 162px
  }

  .clock-footer {
    margin-top: 75px;
  }

  .title-input {
    width: 90%;
  }

}

