/*Remove arrows inside number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Remove arrows inside number input in Firefox*/
input[type='number'] {
  -moz-appearance:textfield;
}

.clock-plus {
  position: fixed;
  margin-top: 430px;
  margin-left: 25px;

  border: none;
  outline: none;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #3583B6;
  background-color: transparent;
  padding: 10px 10px;

  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.clock-plus:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.clock-plus:hover:before {
  transform: translateY(0);
  border-width: 4px;
}


.clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clock-div {
  margin: 80px 0px 70px;
}

.clock-title {
  display: flex;
  justify-content: center;
}

.title-input {
  outline: 0;
  width: 40%;
  text-align: center;
  border-width: 0 0 2px;
  border-color: #3583B6;
  font-family: 'Acme', sans-serif;
  color: #3583B6;
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}

.title-input::placeholder {
  color: #acc5d6;
}

.clock-audio {
  display: flex;
  justify-content: center;
}

.audio-input {
  outline: 0;
  width: 100%;
  text-align: center;
  border: none;
  border-color: #3583B6;
  font-family: 'Acme', sans-serif;
  color: #3583B6;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.audio-input::placeholder {
  color: #acc5d6;
}

.clock {
  margin-top: -400px;
  margin-left: 140px;
}

.clock-input {
  display: inline-block;
  border: none;
  width: 130px;
  height: 75px;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 100px;
  color: #3583B6;
  background: transparent;
}

::placeholder {
  color: #3583B6;
}

.clock span {
  font-size: 100px;
  margin-right: -15px;
  margin-left: -15px;
  color: #3583B6;
}

.clockButtons {
  display: flex;
  margin-top: 30px;
  margin-left: 280px;
}

.start-pause-button {
  margin-left: -40px;
}

.start-button {
  outline: none;
  background: transparent;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 0;
  border-width: 25px 0px 25px 50px;
  border-color: transparent transparent transparent #3583B6;
}


.start-button:hover {
  opacity: 0.8;
}

.pause-button {
  outline: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 1px;
  border: 13px solid #3583B6;
  border-top: none;
  border-bottom: none;
}

.reset-button {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: #3583B6;
  border-radius: 50%;
  border-style: solid;
  border-color: #3583B6;
}

.clock-footer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.delete-button {
  border: none;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #3583B6;
  background-color: transparent;
  padding: 10px 10px;

  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.delete-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.delete-button:hover:before,
.delete-button:focus:before, 
.delete-button:active:before {
  transform: translateY(0);
  border-width: 4px;
}

.base-circle {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.progress-circle {
  fill: none;
  stroke: #3583B6;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

#pointer-circle {
  fill: #FFF;
  stroke: #3583B6;
  stroke-width: 2px;
}